
@media only screen and (max-width:1000px) {
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}
section {
    
    background-color: blue;
    
}
.hero{
    background-color: #f9f9f9;
    /* height: 100vh; */
    color: black;
    font-size: 40px;
    padding: 10rem 0;
}
footer{
    
    background-color: #fff;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}
ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
}
li {
    /* width: 200px; */
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 50px;
}
p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}
.hero-container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.hero-text{
/*     margin: 70px;
 */
padding-right: 1rem;
margin-right: 70px;
}
.hero-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    justify-content: center;
    gap: 0.5em;
    
    align-items: center;
}
.headshot {
    width: 450px;
    border-radius: 25px;
    margin-left: 175px;
}
.logo{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
body{
    font-family: 'Poppins', sans-serif;
   
}

.socials1 {
    
    float: left;
    margin: 10px;
     
}

.div {
    display: block;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgba(195, 195, 195);
    margin: 10px;
}

.cv-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgba(195, 195, 195);
    
}

.cvimg {
    margin-top: 25px;
    width: 250px;
    border-radius: 25px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    
}

.cv-container {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.projects-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f9f9f9;
    padding-bottom: 100px;
}

.cv-section {
    background-color:#fff;
    padding: 50px;
    text-align: center;
}