section {
    height: 500px;
    background-color: blue;
    border: solid black 1px;
}
.hero{
    background-color: rgb(41, 37, 37);
    height: 100vh;
    color: white;
    font-size: 40px;
}
footer{
    height: 500px;
    background-color: black;
}
nav {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
}
li {
    /* width: 200px; */
    text-decoration: none;
    color: white;
}
h1 {
    font-size: 70px;
}
.hero-text{
    margin: 80px;
}